{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/new_sequence.css">
{% endblock %}

{% block content %}
<h1>Création d'un dispositif d'affichage</h1>

{% if flash.success %}
<div class="alert alert-success" role="alert">
  {{ flash.success }}
</div>
{% endif %}

{% if flash.error %}
<div class="alert alert-danger" role="alert">
  {{ flash.error }}
</div>
{% endif %}

<div class="box">
    <form action="{{ path_for('createDevice') }}" method="post">
    <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" required>
    </div>
    <div class="mb-3">
        <label for="lieu" class="form-label">Emplacement</label>
        <input type="text" class="form-control" id="lieu" name="lieu" required>
    </div>
    <div class="mb-3">
        <label for="id_sequence" class="form-label">Séquence associée</label>
        <select class="custom-select" name="id_sequence" id="id_sequence">
          <option selected disabled>Sélectionner une séquence...</option>
          {% for sequence in sequences %}
            <option value="{{ sequence.id }}">{{ sequence.nom }}</option>
          {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-outline-success btn-sm">Créer le dispositif d'affichage</button>
    </form>
</div>
{% endblock %}