{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/gestion_sequence.css">
<style>
    .notification{
      position: fixed;
      bottom: 0;
      left:0;
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<div id="notification_block" class="notification" style="z-index: 999;display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hideNotification()">
        <span aria-hidden="true">&times;</span>
    </button>
    <p></p>
</div>

<h1>Gestion des séquences</h1>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="width: 30%;">Nom de la séquence</th>
            <th style="width: 25%;">Nombre d'écrans associés</th>
            <th style="width: 25%;">Auteur</th>
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
        </tr>
    </thead>

    <tbody>
        {% for sequence in sequences %}
            <tr>
            <td class="panel_nomSeq"><span class="editable">{{ sequence.nom }}</span></td>
            <td class="panel_nombreEcran"><span class="editable">{{ sequence.ecran|length }}</span></td>
            <td class="panel_auteur"><span class="editable">{{ sequence.auteur }}</span></td>
            <td class="panel_update">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editSequence_{{ sequence.id }}">
                    <i class="far fa-edit"></i>
                </button>
                <div class="modal fade exampleModalClass" id="editSequence_{{ sequence.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="editSequenceLabel_{{ sequence.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="editSequenceLabel_{{ sequence.id }}">Modifier la séquence</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="control-label">Nom de la séquence :</label>
                                        <input type="text" value="{{ sequence.nom }}"
                                            class="form-control update_nomSequence">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-dark" onclick="updateSequence({{ sequence.id }}, this)">Modifier la
                                    séquence</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="panel_delete">
                <input type="button" value="Supprimer" class="btn btn-danger delCompteBtn" data-toggle="modal"
                    data-target="#deleteSequence_{{ sequence.id }}">
                <div class="modal fade" id="deleteSequence_{{ sequence.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteSequenceLabel_{{ sequence.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteSequenceLabel_{{ sequence.id }}">Supprimer une séquence :</h4>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous sûr de vouloir supprimer la séquence : {{ sequence.nom }} ? <br>Attention : celà supprimera tous les écrans associés à cette séquence !</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-danger btn-ok"
                                    onclick="deleteSequence({{ sequence.id }}, this)">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
function hideNotification() {
    $('#notification_block').fadeOut('500', () => {
        $('#notification_block').removeClass();
    });
}

function showNotification(libelle_bootstrap, message) {
    hideNotification();
    $('#notification_block p').text(message)
    $('#notification_block').addClass("notification")
    $('#notification_block').addClass('alert alert-' + libelle_bootstrap)
    $('#notification_block').fadeIn('500');
}

function deleteSequence(id, leBtn) {
    let model = $(leBtn).parents().closest('.modal');
    let lineDelet = $(leBtn).parents().closest('tr');

    let http = new XMLHttpRequest();
    let params =
        'id=' + id;
    http.open('POST', '{{ path_for('sequenceDelete') }}', true);

    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.onreadystatechange = function () {
        if (http.readyState == 4 && http.status == 200) {
            if (http.responseText == 'success') {
                $(model).modal('hide');
                showNotification('success', "La séquence a bien été supprimée.");
                $(lineDelet).hide('slow', function () {
                    $(lineDelet).remove();
                });
            } else {
                showNotification('danger', 'Erreur : ' + http.responseText);
            }
        }
    }
    http.send(params);
}

function updateSequence(id, leBtn) {
    let bodyModal = $(leBtn).parent().prev('.modal-body');
    let nom = $(bodyModal).find('.update_nomSequence').val();

    if (id, nom) {
        let model = $(leBtn).parents().closest('.modal');
        let lineUpdate = $(leBtn).parents().closest('tr');
        let http = new XMLHttpRequest();

        let params =
            'id=' + id +
            '&newNom=' + nom;
        http.open('POST', '{{ path_for('sequenceUpdate') }}', true);

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                if (http.responseText == 'success') {
                    $(lineUpdate).find('.panel_nomSeq').text(nom);
                    $(model).modal('hide');
                    showNotification('success', "Succès : La séquence : " + nom + " a bien été modifiée.");
                } else {
                    createMessageAlert('red', 'Erreur', http.responseText);
                }
            }
        }
        http.send(params);
    } else {
        alert("Une erreur est survenue : des champs sont manquants, introuvable, ou incomplet \n\rSi le problème persiste actualisez la page ou contacter l'administrateur du site");
    }
}
</script>
{% endblock %}